{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>Gestion triangle</h3>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération du label + error + widget pour un champ. #}
    {{ form_row(form.nom) }}


    <div class="form-group">
        {# Génération du label. #}
        <label for="">Point 1</label>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.Point1X) }}
        {{ form_errors(form.Point1Y) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.point1X, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.point1Y, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {# Génération du label. #}
        <label for="">Point 2</label>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.point2X) }}
        {{ form_errors(form.point2Y) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.point2X, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.point2Y, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {# Génération du label. #}
        <label for="">Point 3</label>

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.point3X) }}
        {{ form_errors(form.point3Y) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.point3X, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.point3Y, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
        {{ form_label(form.couleur, "Couleur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.couleur) }}
        <div class="col-sm-10">
            {{ form_widget(form.couleur, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>



    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}


    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
</div>
