{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Liste des triangles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Coordonée</th>
                <th>Couleur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for triangle in triangles %}
            <tr>
                <td><a href="{{ path('triangle_show', { 'id': triangle.id }) }}">{{ triangle.id }}</a></td>
                <td>{{ triangle.nom }}</td>
                <td>[{{ triangle.point1X }},{{ triangle.point1Y }}],[{{ triangle.point2X }},{{ triangle.point2Y}}],[{{ triangle.point3x}},{{ triangle.point3Y }}]</td>
                <td>{{ triangle.couleur }}</td>
                <td>

                            <a href="{{ path('triangle_show', { 'id': triangle.id }) }}" class="btn btn-primary">Voir</a>

                            <a href="{{ path('triangle_edit', { 'id': triangle.id }) }}" class="btn btn-info">Editer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('triangle_new') }}">Créer un triangle</a>

    </div>
{% endblock %}
