{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

        <h3>Gestion triangle</h3>


            {{ form_start(form, {'attr': {'class': 'form'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            {# Génération du label + error + widget pour un champ. #}
            {{ form_row(form.nom) }}


            <div class="form-group">
                {# Génération du label. #}
                <h4>Point 1:</h4>

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.point1X) }}
                {{ form_errors(form.point1Y) }}



                    {# Génération de l'input. #}
                {{ form_label(form.point1X, "X:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_widget(form.point1X, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.point1Y, "Y:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {{ form_widget(form.point1Y, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="form-group">
                {# Génération du label. #}
                <h4>Point 2 :</h4>

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.point2X) }}
                {{ form_errors(form.point2Y) }}


                    {# Génération de l'input. #}
                {{ form_label(form.point2X, "X:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_widget(form.point2X, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.point2Y, "Y:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {{ form_widget(form.point2Y, {'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="form-group">
                {# Génération du label. #}
             <h4>Point 3 :</h4>

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.point3X) }}
                {{ form_errors(form.point3Y) }}


                    {# Génération de l'input. #}
                {{ form_label(form.point3X, "X:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_widget(form.point3X, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.point3Y, "Y:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {{ form_widget(form.point3Y, {'attr': {'class': 'form-control'}}) }}

            </div>

            {# Idem pour un autre champ. #}
            <div class="form-group">
                {{ form_label(form.couleur, "Couleur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.couleur) }}

                    {{ form_widget(form.couleur, {'attr': {'class': 'form-control'}}) }}

            </div>



            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}

            {# Génération automatique des champs pas encore écrits.
            Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
            et tous les champs cachés (type « hidden »). #}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-success">Envoyer !</button>
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}

        <script>var arr = document.getElementById("appbundle_triangle_couleur");
            arr.setAttribute('type','color');</script>

    </div>

{% endblock %}
