{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Triangle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ triangle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ triangle.nom }}</td>
            </tr>
            <tr>
                <th>Point1</th>
                <td>[{{ triangle.point1X }},{{ triangle.point1Y }}]</td>
            </tr>
            <tr>
                <th>Point2</th>
                <td>[{{ triangle.point2X }},{{ triangle.point2Y }}]</td>
            </tr>
            <tr>
                <th>Point3</th>
                <td>[{{ triangle.point3X }},{{ triangle.point3Y }}]</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ triangle.couleur }}</td>
            </tr>
        </tbody>
    </table>
    <canvas id="canvas" width="800" height="600" ></canvas>
        <script>
            var canvas = document.getElementById('canvas');
            if(canvas.getContext){
                var ctx = canvas.getContext('2d');
                ctx.fillStyle="{{ triangle.couleur }}";
                ctx.moveTo({{ triangle.point1X }},{{ triangle.point1Y }});
                ctx.lineTo({{ triangle.point2X }},{{ triangle.point2Y }});
                ctx.lineTo({{ triangle.point3X }},{{ triangle.point3Y }});
                ctx.lineTo({{ triangle.point1X }},{{ triangle.point1Y }});
                ctx.stroke();
                ctx.fill();

            }
        </script>

        <hr>
            <a href="{{ path('triangle_edit', { 'id': triangle.id }) }}" class="btn btn-info">Edit</a><br><br>

            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Supprimer">
            {{ form_end(delete_form) }}

    </div>
{% endblock %}
